* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #000;
}
header {
    background: #2c2a2a;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header img {
    max-width: 200px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.section {
    padding: 40px 20px;
    border-bottom: 2px solid #ddd;
}

.section img {
    border-radius: 50%;
}

.section img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 40%;
}

h2 {
    color: #d60000;
}
.footer {
    background: #2c2a2a;
    color: #fff;
    text-align: center;
    padding: 40px;
    bottom: 0;
}

.footer svg {
    fill: #fff;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}